from launch import LaunchDescription
from launch_ros.actions import Node
from launch.actions import DeclareLaunchArgument
from launch.substitutions import LaunchConfiguration
from launch_ros.parameter_descriptions import ParameterValue

def generate_launch_description():
    return LaunchDescription([
        DeclareLaunchArgument(
            'text',
            default_value='Hello, ROS2!',
            description='Text to be published'
        ),
        Node(
            package='task02',
            executable='publisher',
            name='publisher',
            parameters=[{
                'text': LaunchConfiguration('text')
            }, 'config/task02.yaml'],
            output='screen'
        ),
    ])
